<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601}: %p [%t] %C{1} %X{ProcessId}: %m%n" />
        </layout>
    </appender>

    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="d:/logs/pos.log"/>
        <param name="MaxFileSize" value="100MB"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601}: %p [%t] %C{1} %X{ProcessId}: %m%n" />
        </layout>
    </appender>

    <logger name="com.pos" additivity="false">
        <level value="ALL" />
        <appender-ref ref="CONSOLE"/>
        <!--<appender-ref ref="CONSOLE"/>-->
    </logger>

    <logger name="org.springframework" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="CONSOLE"/>
        <!--<appender-ref ref="CONSOLE"/>-->
    </logger>

    <logger name="org.springframework.aop.interceptor.CustomizableTraceInterceptor" additivity="false">
        <level value="OFF" />
        <appender-ref ref="CONSOLE"/>
        <!--<appender-ref ref="CONSOLE"/>-->
    </logger>

    <logger name="org.hibernate.SQL" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="CONSOLE"/>
        <!--<appender-ref ref="CONSOLE"/>-->
    </logger>

    <logger name="org.hibernate.type" additivity="false">
        <level value="TRACE" />
        <appender-ref ref="CONSOLE"/>
        <!--<appender-ref ref="CONSOLE"/>-->
    </logger>

    <logger name="org.mortbay.log" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="CONSOLE"/>
       <!--<appender-ref ref="CONSOLE"/>-->
    </logger>

    <root>
        <level value="INFO" />
        <appender-ref ref="CONSOLE" />
    </root>

</log4j:configuration>
