A {
	COLOR: #635d63; FONT-SIZE: 11px; FONT-WEIGHT: 100
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
DIV.autocomplete {
	BORDER-BOTTOM: #bdbebd 1px solid; POSITION: absolute; BORDER-LEFT: #bdbebd 1px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: white; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 250px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: #bdbebd 1px solid; PADDING-TOP: 0px
}
DIV.autocomplete UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV.autocomplete UL LI.selected {
	BACKGROUND-COLOR: #00aaef; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-WEIGHT: bolder
}
DIV.autocomplete UL LI {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 0px; FONT-SIZE: 11px; CURSOR: pointer; PADDING-TOP: 0px
}
.liViewAll {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #d6d3d6; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 0px; FONT-SIZE: 11px; CURSOR: pointer; PADDING-TOP: 0px
}
.mouseOverUserSearch {
	BACKGROUND-COLOR: #00aaef; COLOR: #ffffff; CURSOR: pointer
}
.mouseOutUserSearch {
	BACKGROUND-COLOR: #ffffff; COLOR: #000000
}
.autocompleteInnerTable {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 2; MARGIN: 0px; PADDING-LEFT: 0px; BORDER-SPACING: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; MAX-WIDTH: 3px; COLOR: #000000; MAX-HEIGHT: 3px; FONT-SIZE: 9px; FONT-WEIGHT: lighter; PADDING-TOP: 0px
}
.profileDetailsNameAutoComplete {
	FONT-SIZE: 10px
}
.headerFont {
	FONT-FAMILY: Arial, Helvetica, sans-serif;FONT-SIZE: 15px; FONT-WEIGHT: bold;
}
.spacerTop {
	HEIGHT: 5px
}
.spacerBottom {
	HEIGHT: 4px
}
A.images {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: none; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; TEXT-DECORATION: none; PADDING-TOP: 0px
}
SPAN.linkMouseOver {
	COLOR: #0051a5; CURSOR: pointer; TEXT-DECORATION: underline
}
SPAN.link {
	COLOR: #0051a5; CURSOR: default; TEXT-DECORATION: none
}
SPAN.linkMouseOverNoUnderline {
	COLOR: #0051a5; CURSOR: pointer; TEXT-DECORATION: none
}
SPAN.trMiddleBlue {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: none; font-stretch: extra-expanded
}
.requestSubmitted {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #63a287; FONT-SIZE: 20px; FONT-WEIGHT: bolder; font-stretch: expanded
}
SELECT {
	WIDTH: 100%; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px
}
.pagination {
	BACKGROUND-COLOR: #efefef; COLOR: #001439; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
INPUT.paginationBtn {
	BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; BACKGROUND-COLOR: #efefef; FONT: bold 84% Arial, Helvetica, sans-serif; COLOR: #050; BORDER-TOP: 1px solid; BORDER-RIGHT: 1px solid
}
SELECT.pagination {
	WIDTH: 15%; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px
}
SELECT.noWidth {
	WIDTH: 50%; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px
}
SELECT.width {
	WIDTH: 70%; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px
}
.autoFilterInput {
	BORDER-BOTTOM-STYLE: inset; WIDTH: 100%; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10px
}
.input {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px
}
.inputWithWidth {
	WIDTH: 200px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px
}
.inputWithWidth2 {
	WIDTH: 203px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px
}
.inputWithWidthMedium {
	WIDTH: 160px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px
}
.inputWithWidthForm {
	WIDTH: 99%; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px
}
.inputWithWidthFormFull {
	WIDTH: 100%; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px
}
.inputWithWidthSmall {
	WIDTH: 70px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px
}
.inputWithWidthSmallBulk {
	WIDTH: 70px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px
}
.inputWithWidthSmaller {
	WIDTH: 60px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px
}
.bodyFont {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #001439; FONT-SIZE: 14px; FONT-WEIGHT: bolder; font-stretch: expanded
}
.lighterFont {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #333333; FONT-SIZE: 11px; FONT-WEIGHT: 200
}
.fieldText {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #001439; FONT-SIZE: 10px; FONT-WEIGHT: bolder
}
TABLE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; BORDER-SPACING: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE.globalTable {
	WIDTH: 933px
}
TABLE.globalTablePlusOne {
	WIDTH: 934px
}
TABLE.globalTableMinusOne {
	WIDTH: 932px
}
TABLE.globalTableMinusTwo {
	WIDTH: 931px
}
TH {
	FONT-FAMILY: :Arial, Helvetica, sans-serif; COLOR: #001439; FONT-SIZE: 12px; font-stretch: extra-expanded
}
TD {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #001439; MAX-HEIGHT: 2px; FONT-SIZE: 11px; PADDING-TOP: 0px
}
.selectHeading {
	LINE-HEIGHT: 24px; BACKGROUND-COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #336699; FONT-SIZE: 12px
}
.textBoxClassFocus {
	FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND: #5a799c; COLOR: #ffffff; FONT-SIZE: 12px
}
.textBoxClassBlur {
	BACKGROUND: #ffffff; COLOR: #000000
}
.profile {
	BACKGROUND-COLOR: #5a799c; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: white; FONT-SIZE: 13px; FONT-WEIGHT: bold; font-stretch: extra-expanded
}
.profileGrey {
	BACKGROUND-COLOR: #999999; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: white; FONT-SIZE: 13px; FONT-WEIGHT: bold; font-stretch: extra-expanded
}
.header {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #001439; FONT-SIZE: 20px; FONT-WEIGHT: bold; font-stretch: extra-expanded
}
.subHeader {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #001439; FONT-SIZE: 11px; FONT-WEIGHT: bold; font-stretch: extra-expanded
}
.subHeaderBlue {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: white; FONT-SIZE: 11px; FONT-WEIGHT: bold; font-stretch: extra-expanded
}
.trMiddleBlue {
	BACKGROUND-COLOR: #efeff7; MIN-HEIGHT: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 20px; COLOR: #00519c; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; text-shadow: 0.5em 0.5em black
}
A.trMiddleBlue {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: none; font-stretch: extra-expanded
}
DIV.comments {
	BACKGROUND-COLOR: #ffffff; WIDTH: 913px; HEIGHT: 100px; COLOR: #848284; OVERFLOW: auto
}
DIV.commentsQueue {
	BACKGROUND-COLOR: #ffffff; WIDTH: 913px; HEIGHT: 100px; OVERFLOW: auto
}
.divComments {
	BORDER-BOTTOM: 1px solid; BORDER-LEFT: 2px inset; BORDER-TOP: 2px inset; BORDER-RIGHT: 1px solid
}
.fontColor {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #336699; FONT-SIZE: 12px; font-stretch: extra-expanded
}
.profileDetails {
	FONT-SIZE: 11px
}
.profileDetailsName {
	COLOR: #001439; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.profileDetailsNameBigger {
	FONT-SIZE: 12px; FONT-WEIGHT: bolder
}
.oddTip {
	BACKGROUND: #ffffff; COLOR: #635d63; FONT-SIZE: 11px; FONT-WEIGHT: 100
}
.profileDetailsNameRed {
	COLOR: #ff0000; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.error {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: red; FONT-SIZE: 11px; FONT-WEIGHT: bold; font-stretch: extra-expanded
}
.sideLines {
	BACKGROUND: #4a697b
}
.fontColor {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #336699; FONT-SIZE: 13px; font-stretch: extra-expanded
}
.dropDownText {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #001439; FONT-SIZE: 12px; FONT-WEIGHT: 200
}
A.odd {
	BACKGROUND: #ffffff; COLOR: #635d63; FONT-SIZE: 9px; FONT-WEIGHT: 100; TEXT-DECORATION: underline
}
A.even {
	BACKGROUND: #efefef; COLOR: #f2f2f2; FONT-SIZE: 9px; FONT-WEIGHT: 100; TEXT-DECORATION: underline
}
.instructions {
	BACKGROUND: #f7efef; COLOR: #6b696b; FONT-SIZE: 11px
}
.even {
	BACKGROUND: #efefef; COLOR: #635d63; FONT-SIZE: 11px
}
.odd {
	BACKGROUND: #ffffff; COLOR: #635d63; FONT-SIZE: 11px
}
.oddNotCustomizable {
	BACKGROUND: #ffffff; COLOR: #ffffff; FONT-SIZE: 11px
}
.evenNotCustomizable {
	BACKGROUND: #efefef; COLOR: #ffffff; FONT-SIZE: 11px
}
A.headerLink {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: white; TEXT-DECORATION: none
}
A {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #0051a5
}
A.advancedSearch {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ffffff; TEXT-DECORATION: none
}
A.headerLink {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: white; TEXT-DECORATION: none
}
.menuDivDropDown {
	Z-INDEX: 50000; POSITION: absolute; BACKGROUND-COLOR: #c2c2c2; WIDTH: auto
}
.menuSeparator {
	BACKGROUND-COLOR: #636363; COLOR: #636363
}
.queueBlue {
	COLOR: #101839; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.queueGreen {
	COLOR: green; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.queueNames {
	COLOR: #00519c; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.menuHover {
	BACKGROUND-COLOR: #618bb1; FONT-FAMILY: Arial, Helvetica, sans-serif; CURSOR: pointer
}
.menu {
	BACKGROUND-COLOR: #c2c2c2; FONT-FAMILY: Arial, Helvetica, sans-serif; CURSOR: auto
}
