@charset "utf-8";
/* CSS Document */

/*Css classes for AIM UI new version*/
.FooterLeft{
.width:4px;
.height:40px;
.background:url(../images/FooterLeft.jpg);
}
.FooterRight{
.width:4px;
.height:40px;
background:url(../images/FooterRight.jpg);
}
.FooterBg{
.height:40px;
background:url(../images/FooterBg.jpg) repeat;
}
.PopupCommentField{
width:630px;
height:100px;
margin-left:20px;
margin-top:20px;
margin-bottom:10px;
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#656565;
}
.DivButton{
display:inline;
padding-right:15px;
}
.TabTopLeft{
width:4px;
height:4px;
background:url(../images/TabTopLeft.jpg);
}
.TabTopRight{
width:4px;
height:4px;
background:url(../images/TabTopRight.jpg);
}
.TabTopBg{
height:4px;
background:url(../images/TabTopBg.jpg);
}
.HomeSearchMyRequestsIcon{
width:181px;
height:139px;
background:url(../images/HomeSearchMyRequestsIcon.jpg);
}
.HomeSearchMyRequestsIcon:hover{
background:url(../images/HomeSearchMyRequestsIconHover.jpg);
}
.HomeSearchMyApprovalsIcon{
width:188px;
height:139;
background:url(../images/HomeSearchMyApprovalsIcon.jpg);
}
.HomeSearchMyApprovalsIcon:hover{
background:url(../images/HomeSearchMyApprovalsIconHover.jpg);
}
.HomeSearchMyPasswordsIcon{
width:187px;
height:139px;
background:url(../images/HomeSearchMyPasswordsIcon.jpg);
}
.HomeSearchMyPasswordsIcon:hover{
background:url(../images/HomeSearchMyPasswordsIconHover.jpg);
}
.HomeSearchBrowseCatalogueIcon{
width:180px;
height:139px;
background:url(../images/HomeSearchBrowseCatalogueIcon.jpg);
}
.HomeSearchBrowseCatalogueIcon:hover{
background:url(../images/HomeSearchBrowseCatalogueIconHover.jpg);
}
.LeftMenuLink{
text-decoration: normal;
color:#041741;
}

span.ellipsis-overflow{
		overflow:hidden;
		-o-text-overflow: ellipsis;
		text-overflow: ellipsis;
	    white-space: nowrap;
	    width:95%;
}

.GrayUpperLeft{
width:4px;
height:4px;
background:url(../images/GrayUpperLeft.jpg) no repeat;
}
.GrayUpperRight{
width:4px;
height:4px;
background:url(../images/GrayUpperRight.jpg) no repeat;
}
.GrayUpperBg{
height:4px;
background:url(../images/GrayUpperBg.jpg) repeat;
}
.SubHeaderLeft{
width:4px;
height:20px;
background:url(../images/SubHeaderLeft.jpg) no repeat;
}
.SubHeaderBg{
height:20px;
background:url(../images/SubHeaderBg.jpg) repeat;
padding-left:10px;
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#FFFFFF;
}
.SubHeaderRight{
width:4px;
height:20px;
background:url(../images/SubHeaderRight.jpg) no repeat;
}
.SearchResultHeaderLeft{
width:4px;
height:20px;
background: url(../images/SearchResultHeaderLeft.jpg) no repeat;
}
.SearchResultHeaderBg{
height:4px;
background: url(../images/SearchResultHeaderBg.jpg) repeat;
padding-left:10px;
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#000000;
}
.SearchResultHeaderRight{
width:4px;
height:20px;
background: url(../images/SearchResultHeaderRight.jpg) no repeat;
}
.LeftSearchBoxHolder{
width: 148px;
height: 22px;
background: url(../images/SearchBoxInputBg.jpg) no-repeat;
float: left;
}
.LeftSearchBox{
width:120px;
height:16px;
border:none;
margin-top:3px;
margin-left: 24px;
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#656565
}
.HeaderText{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#041741;
}
.HeaderLink{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
text-decoration:none;
color:#041741;
}
.HeaderLink A:hover{
text-decoration:underline;
color:#0059a2;
}
.LeftMenuHeader{
font-family:Tahoma, Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#FFFFFF;
background: url(../images/LeftMenuBg.jpg) repeat;
}
.LeftMenuContent A{
width:160px;
padding: 5px 5px 5px 20px;
font-family:Tahoma, Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#041741;
background-color:#e8f0f3;
text-decoration:none;
}
.LeftMenuContent A:hover {
width:160px;
padding: 5px 5px 5px 20px;
font-family:Tahoma, Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#FFFFFF;
background-color:#1aaddf;
}
.LeftMenuContent A:hover span{
width:120px;
text-align: center;
font-family:Tahoma, Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#FFFFFF;
background-color:#1aaddf;
}
.RightTextBold{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#041741;
}
.RightText{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#041741;
}
.HomeSearchCatalogue{
font-family:Arial,Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
color:#00163d;
}
.HomeContentTableCell{
width:170px;
height: 24px;
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
margin-left:10px;
}
.ContentSearchBoxHolder{
height:22px;
background: transparent none;
float: left;
display: inline;
vertical-align: middle;
}
.HomeContentSearchBox{
height:17px;
border:none;
margin: 3px 0px 0px 0px;
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
}
.ContentBlueBoldUnderline
{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#00163d;
text-decoration:underline;
}
.ContentBlueMargin
{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#00163d;
padding-left:2px
}
.SearchResultProductName{
font-family:Arial,Helvetica, sans-serif;
font-size:13px;
font-weight:bold;
color:#00163d;
}
.SearchResultProductNameNonBold{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#00163d;
}
.ContentBlueBoldLightYellowBg{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#00163d;
background-color:#fffeef
}
.ContentBlueBoldYellowBg{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#00163d;
background-color:#fefddf
}
.ContentGrayBoldYellowBg{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#656565;
background-color:#fefddf
}
.PaginationBgLeft{
width:1px;
height:18px;
background: url(../images/PaginationBgLeft.jpg) repeat;
}
.PaginationBgRight{
width:1px;
height:18px;
background: url(../images/PaginationBgRight.jpg) repeat;
}
.PaginationBg{
height:18px;
background: url(../images/PaginationBg.jpg) repeat;
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#00163d;
text-align:center;
}
.HeaderBg12{
height:30px;
background: url(../images/HeaderBg.jpg) no repeat;
font-family:Arial,Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#ffffff;
padding-left:10px;
text-align:left;
}
.HeaderBgLeft{
width:4px;
height:30px;
background: url(../images/HeaderBgLeft.jpg) no repeat;
}
.HeaderBgRight{
width:4px;
height:30px;
background:url(../images/HeaderBgRight.jpg) no repeat;
}
.HeaderBg{
height:30px;
background: url(../images/HeaderBg.jpg) no repeat;
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#ffffff;
padding-left:10px;
text-align:left;
}
.SubtitleBg{
height:20px;
background: url(../images/SubtitleBg.jpg) no repeat;
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#00163d;
padding-left:14px;
}
.SubtitleBgBlue{
height:24px;
background: url(../images/sub_header_bg_blue.jpg) no repeat;
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#FFFFFF;
padding-left:10px;
}
.RequestDetailsTimeFrame{
height:24px;
background: url(../images/RequestDetailsTimeFrame.jpg) repeat;
}
.RequestDetailsCommentField{
width:738px;
height:100px;
margin-left:10px;
margin-top:10px;
margin-bottom:10px;
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#656565;
}
.BottomBgleft{
width:4px;
height:4px;
background: url(../images/SubheaderBottomLeft.jpg) no repeat;
}
.BottomBgRight{
width:4px;
height:4px;
background: url(../images/SubheaderBottomRight.jpg) no repeat;
}
.BottomBg{
height:4px;
background: url(../images/SubheaderBottomBg.jpg) repeat;
}
.RequestSubmittedDotLine{
height:1px;
background: url(../images/RequestSubmittedDotLine.jpg) repeat;
}
/*Above classes are for AIM UI new version started converting on 27/02/2009*/


/* Css classes for AIM UI old version*/
.HeaderFontBold
{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#000000;
}

.HeaderFontNormal
{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#04539e;
}

.LeftMenuNormal
{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#04539e;
}

.LeftMenuBlack
{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#000000;
}

.LeftMenuSearchRequest
{
font-family:Arial,Helvetica, sans-serif;
font-size:14px;
font-weight:bolder;
color:#FFFFFF;
}

.PopupHeading
{
font-family:Arial,Helvetica, sans-serif;
font-size:18px;
font-weight:bold;
color:#000000;
}

.PopupSubHeading
{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:##001848;
}

.PopupSubHeading14
{
font-family:Arial,Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
color:##001848;
}

.PopupTableHeading
{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#001544;
}

.PopupTableContent
{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#606060;
}

.PopupTableReqN
{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#015095;
}

.ContentBlack
{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#000000;
}
.ContentBlackBold
{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#000000;
}
.ContentBlue
{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#00163d;
}
.ContentBlueBold
{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#00163d;
}
.ContentRed
{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#FF0000;
}
.ContentRedBold
{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#FF0000;
}
.ContentBlueBold12
{
font-family:Arial,Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#00163d;
}
.ContentWhiteBold12
{
font-family:Arial,Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#FFFFFF;
}
.ContentWhiteBold
{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#FFFFFF;
}
.ContentGray
{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#656565;	
}
.ContentGrayBold
{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#656565;	
}
.LinkText
{
font-family:Tahoma, Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#0551a5;
text-decoration:none;
cursor: hand;
}

.LinkTextBold
{
font-family:Tahoma, Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#0551a5;
text-decoration:none;
cursor: pointer; cursor: hand;
}

.LinkText:hover{
text-decoration:underline;
}
.LinkText2
{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#0551a5;
text-decoration:none;
background-color:#FFFFFF
}
.LinkText2:hover{
background-color:#578ec0;
color:#FFFFFF;
}
.BundleTableContent
{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#114f88;
text-decoration:none;
background-color:#FFFFFF
}

.ContentLightBlueBold
{
font-family:Arial,Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#0154a2;
}
.ContentLightBlue
{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#0154a2;
}
.TicketNumberBlue
{
font-family:Arial,Helvetica, sans-serif;
font-size:15px;
font-weight:bold;
color:#10183c;
}
.TicketNumberGreen
{
font-family:Arial,Helvetica, sans-serif;
font-size:15px;
font-weight:bold;
color:#55b530;
}

.ColoredCheckBox 
{ 
background: url(checkbox.gif) no-repeat center center; 
padding-left: 0px; 
} 
.ColoredCheckBox input
{ 
margin:0; 
padding: 0; 
}
.ContentHeadingWhite
{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#FFFFFF;
}
.ContentTitleWhite
{
font-family:Arial,Helvetica, sans-serif;
font-size:16px;
font-weight:bold;
color:#FFFFFF;
}
.ContentTitleWhite14
{
font-family:Arial,Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
color:#FFFFFF;
}

.StatusText
{
font-family:Arial,Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#041738;
}
.StatusNumber
{
font-family:Arial,Helvetica, sans-serif;
font-size:28px;
font-weight:bold;
color:#041738;
}
.BorderLine
{
background-color:#bcbcbc
}
.ContentGreen18
{
font-family:Arial,Helvetica, sans-serif;
font-size:18px;
font-weight:bold;
color:#66a288;	
}


/* START EXTJS GRAY THEME */
/*
 * Ext JS Library 2.2
 * Copyright(c) 2006-2008, Ext JS, LLC.
 * licensing@extjs.com
 * 
 * http://extjs.com/license
 */

.x-panel {
    border-style: solid;
    border-color: #d0d0d0;
}
.x-panel-header {
    color:#333;
	border:1px solid #d0d0d0;
    background-image:url(../extjs/resources/images/gray/panel/white-top-bottom.gif);
}

.x-panel-body {
    border-color:#d0d0d0;
}

.x-panel-bbar .x-toolbar {
    border-color:#d0d0d0;
}

.x-panel-tbar .x-toolbar {
    border-color:#d0d0d0;
}

.x-panel-tbar-noheader .x-toolbar, .x-panel-mc .x-panel-tbar .x-toolbar {
    border-color:#d0d0d0;
}
.x-panel-body-noheader, .x-panel-mc .x-panel-body {
    border-color:#d0d0d0;
}
.x-panel-tl .x-panel-header {
    color:#333;
}
.x-panel-tc {
	background-image:url(../extjs/resources/images/gray/panel/top-bottom.gif);
}
.x-panel-tl {
	background-image:url(../extjs/resources/images/gray/panel/corners-sprite.gif);
    border-color:#d0d0d0;
}
.x-panel-tr {
	background-image:url(../extjs/resources/images/gray/panel/corners-sprite.gif);
}
.x-panel-bc {
	background-image:url(../extjs/resources/images/gray/panel/top-bottom.gif);
}
.x-panel-bl {
	background-image:url(../extjs/resources/images/gray/panel/corners-sprite.gif);
}
.x-panel-br {
	background-image:url(../extjs/resources/images/gray/panel/corners-sprite.gif);
}
.x-panel-mc {
    background:#f1f1f1;
}
.x-panel-mc .x-panel-body {
    background:transparent;
    border: 0 none;
}
.x-panel-ml {
	background-image:url(../extjs/resources/images/gray/panel/left-right.gif);
}
.x-panel-mr {
	background-image:url(../extjs/resources/images/gray/panel/left-right.gif);
}

/* Tools */
.x-tool {
    background-image:url(../extjs/resources/images/gray/panel/tool-sprites.gif);
}

/* Ghosting */
.x-panel-ghost {
    background:#e0e0e0;
}

.x-panel-ghost ul {
    border-color:#b0b0b0;
}

.x-grid-panel .x-panel-mc .x-panel-body {
    border:1px solid #d0d0d0;
}

/* Buttons */

.x-btn-left{
	background-image:url(../extjs/resources/images/gray/button/btn-sprite.gif);
}
.x-btn-right{
	background-image:url(../extjs/resources/images/gray/button/btn-sprite.gif);
}
.x-btn-center{
	background-image:url(../extjs/resources/images/gray/button/btn-sprite.gif);
}

/* Layout classes */

.x-border-layout-ct {
    background:#f0f0f0;
}

.x-accordion-hd {
	background-image:url(../extjs/resources/images/gray/panel/light-hd.gif);
}

.x-layout-collapsed{
    background-color:#eee;
    border-color:#e0e0e0;
}
.x-layout-collapsed-over{
	 background-color:#fbfbfb;
}


/* qtips */
.x-tip .x-tip-top {
	background-image:url(../extjs/resources/images/gray/qtip/tip-sprite.gif);
}
.x-tip .x-tip-top-left {
	background-image:url(../extjs/resources/images/gray/qtip/tip-sprite.gif);
}
.x-tip .x-tip-top-right {
	background-image:url(../extjs/resources/images/gray/qtip/tip-sprite.gif);
}
.x-tip .x-tip-ft {
	background-image:url(../extjs/resources/images/gray/qtip/tip-sprite.gif);
}
.x-tip .x-tip-ft-left {
	background-image:url(../extjs/resources/images/gray/qtip/tip-sprite.gif);
}
.x-tip .x-tip-ft-right {
	background-image:url(../extjs/resources/images/gray/qtip/tip-sprite.gif);
}
.x-tip .x-tip-bd-left {
	background-image:url(../extjs/resources/images/gray/qtip/tip-sprite.gif);
}
.x-tip .x-tip-bd-right {
	background-image:url(../extjs/resources/images/gray/qtip/tip-sprite.gif);
}

/* Toolbars */

.x-toolbar{
	border-color:#d0d0d0;
    background:#f0f4f5 url(../extjs/resources/images/gray/toolbar/bg.gif) repeat-x top left;
}
.x-toolbar button {
    color:#444;
}
.x-toolbar .x-btn-menu-arrow-wrap .x-btn-center button {
    background-image:url(../extjs/resources/images/gray/toolbar/btn-arrow.gif);
}
.x-toolbar .x-btn-text-icon .x-btn-menu-arrow-wrap .x-btn-center button {
    background-image:url(../extjs/resources/images/gray/toolbar/btn-arrow.gif);
}
.x-toolbar .x-btn-over .x-btn-left{
	background-image:url(../extjs/resources/images/gray/toolbar/tb-btn-sprite.gif);
}
.x-toolbar .x-btn-over .x-btn-right{
	background-image:url(../extjs/resources/images/gray/toolbar/tb-btn-sprite.gif);
}
.x-toolbar .x-btn-over .x-btn-center{
	background-image:url(../extjs/resources/images/gray/toolbar/tb-btn-sprite.gif);
}
.x-toolbar .x-btn-over button {
    color:#111;
}
.x-toolbar .x-btn-click .x-btn-left, .x-toolbar .x-btn-pressed .x-btn-left, .x-toolbar .x-btn-menu-active .x-btn-left{
	background-image:url(../extjs/resources/images/gray/toolbar/tb-btn-sprite.gif);
}
.x-toolbar .x-btn-click .x-btn-right, .x-toolbar .x-btn-pressed .x-btn-right, .x-toolbar .x-btn-menu-active .x-btn-right{
	background-image:url(../extjs/resources/images/gray/toolbar/tb-btn-sprite.gif);
}

.x-toolbar .x-btn-click .x-btn-center, .x-toolbar .x-btn-pressed .x-btn-center, .x-toolbar .x-btn-menu-active .x-btn-center{
	background-image:url(../extjs/resources/images/gray/toolbar/tb-btn-sprite.gif);
}
.x-toolbar .ytb-sep {
	background-image: url(../extjs/resources/images/default/grid/grid-split.gif);
}

/* Tabs */

.x-tab-panel-header, .x-tab-panel-footer {
	background: #EAEAEA;
	border-color:#d0d0d0;
}


.x-tab-panel-header {
	border-color:#d0d0d0;
}

.x-tab-panel-footer {
	border-color:#d0d0d0;
}

ul.x-tab-strip-top{
	background:#dbdbdb url(../extjs/resources/images/gray/tabs/tab-strip-bg.gif) repeat-x left top;
	border-color:#d0d0d0;
    padding-top: 2px;
}

ul.x-tab-strip-bottom{
	background-image:url(../extjs/resources/images/gray/tabs/tab-strip-btm-bg.gif);
	border-color:#d0d0d0;
}

.x-tab-strip span.x-tab-strip-text {
	color:#333;
}
.x-tab-strip-over span.x-tab-strip-text {
	color:#111;
}

.x-tab-strip-active span.x-tab-strip-text {
	color:#333;
}

.x-tab-strip-disabled .x-tabs-text {
	color:#aaaaaa;
}

.x-tab-strip-top .x-tab-right {
	background-image:url(../extjs/resources/images/gray/tabs/tabs-sprite.gif);
}

.x-tab-strip-top .x-tab-left {
	background-image:url(../extjs/resources/images/gray/tabs/tabs-sprite.gif);
}
.x-tab-strip-top .x-tab-strip-inner {
	background-image:url(../extjs/resources/images/gray/tabs/tabs-sprite.gif);
}

.x-tab-strip-bottom .x-tab-right {
	background-image:url(../extjs/resources/images/gray/tabs/tab-btm-inactive-right-bg.gif);
}

.x-tab-strip-bottom .x-tab-left {
	background-image:url(../extjs/resources/images/gray/tabs/tab-btm-inactive-left-bg.gif);
}

.x-tab-strip-bottom .x-tab-strip-active .x-tab-right {
	background-image:url(../extjs/resources/images/gray/tabs/tab-btm-right-bg.gif);
}

.x-tab-strip-bottom .x-tab-strip-active .x-tab-left {
	background-image:url(../extjs/resources/images/gray/tabs/tab-btm-left-bg.gif);
}

.x-tab-strip .x-tab-strip-closable a.x-tab-strip-close {
	background-image:url(../extjs/resources/images/gray/tabs/tab-close.gif);
}
.x-tab-strip .x-tab-strip-closable a.x-tab-strip-close:hover{
	background-image:url(../extjs/resources/images/gray/tabs/tab-close.gif);
}

.x-tab-panel-body {
    border-color:#d0d0d0;
    background:#fff;
}
.x-tab-panel-bbar .x-toolbar {
    border-color: #d0d0d0;
}

.x-tab-panel-tbar .x-toolbar {
    border-color: #d0d0d0;
}

.x-tab-panel-header-plain .x-tab-strip-spacer {
    border-color:#d0d0d0;
    background: #eaeaea;
}

.x-tab-scroller-left {
    background-image: url(../extjs/resources/images/gray/tabs/scroll-left.gif);
    border-color:#aeaeae;
}
.x-tab-scroller-right {
    background-image: url(../extjs/resources/images/gray/tabs/scroll-right.gif);
    border-color:#aeaeae;
}

/* Window */

.x-window-proxy {
    background:#e0e0e0;
    border-color:#b0b0b0;
}

.x-window-tl .x-window-header {
    color:#555;
}
.x-window-tc {
	/* background-image:url(../extjs/resources/images/gray/window/top-bottom.png); */
	background-image:url(../images/top-bottom.jpg);
}
.x-window-tl {
	/* background-image:url(../extjs/resources/images/gray/window/left-corners.png); */
	background-image:url(../images/left-corners.jpg);
}
.x-window-tr {
	/* background-image:url(../extjs/resources/images/gray/window/right-corners.png); */
	background-image:url(../images/right-corners.jpg);
}
.x-window-bc {
	/* background-image:url(../extjs/resources/images/gray/window/top-bottom.png); */
	background-image:url(../images/top-bottom.jpg);
}
.x-window-bl {
	/* background-image:url(../extjs/resources/images/gray/window/left-corners.png); */
	background-image:url(../images/left-corners.jpg);
}
.x-window-br {
	/* background-image:url(../extjs/resources/images/gray/window/right-corners.png); */
	background-image:url(../images/right-corners.jpg);
}
.x-window-mc {
    border:1px solid #d0d0d0;
    background:#e8e8e8;
}

.x-window-ml {
	/* background-image:url(../extjs/resources/images/gray/window/left-right.png); */
	background-image:url(../images/left-right.jpg);
}
.x-window-mr {
	/* background-image:url(../extjs/resources/images/gray/window/left-right.png); */
	background-image:url(../images/left-right.jpg);
}
.x-panel-ghost .x-window-tl {
    border-color:#d0d0d0;
}
.x-panel-collapsed .x-window-tl {
    border-color:#d0d0d0;
}

.x-window-plain .x-window-mc {
    background: #e8e8e8;
    border-right:1px solid #eee;
    border-bottom:1px solid #eee;
    border-top:1px solid #d0d0d0;
    border-left:1px solid #d0d0d0;
}

.x-window-plain .x-window-body {
    border-left:1px solid #eee;
    border-top:1px solid #eee;
    border-bottom:1px solid #d0d0d0;
    border-right:1px solid #d0d0d0;
    /* background:transparent !important;*/
    background:#ffffff !important;
}

body.x-body-masked .x-window-mc, body.x-body-masked .x-window-plain .x-window-mc {
    background-color: #e4e4e4;
}


/* misc */
.x-html-editor-wrap {
    border-color:#d0d0d0;
}

/* Borders go last for specificity */
.x-panel-noborder .x-panel-body-noborder {
    border-width:0;
}

.x-panel-noborder .x-panel-header-noborder {
    border-width:0;
    border-bottom:1px solid #d0d0d0;
}

.x-panel-noborder .x-panel-tbar-noborder .x-toolbar {
    border-width:0;
    border-bottom:1px solid #d0d0d0;
}

.x-panel-noborder .x-panel-bbar-noborder .x-toolbar {
    border-width:0;
    border-top:1px solid #d0d0d0;
}

.x-window-noborder .x-window-mc {
    border-width:0;
}
.x-window-plain .x-window-body-noborder {
    border-width:0;
}

.x-tab-panel-noborder .x-tab-panel-body-noborder {
	border-width:0;
}

.x-tab-panel-noborder .x-tab-panel-header-noborder {
	border-top-width:0;
	border-left-width:0;
	border-right-width:0;
}

.x-tab-panel-noborder .x-tab-panel-footer-noborder {
	border-bottom-width:0;
	border-left-width:0;
	border-right-width:0;
}


.x-tab-panel-bbar-noborder .x-toolbar {
    border-width:0;
    border-top:1px solid #d0d0d0;
}

.x-tab-panel-tbar-noborder .x-toolbar {
    border-width:0;
    border-bottom:1px solid #d0d0d0;
}
/*For objectForm */
.x-panel-mc,.x-form-item,.x-form-text,textarea.x-form-field,.x-combo-list-item
{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#00163d;
}

/*End of ObjectForm */
/*Make the table cell autoWrap*/
.x-grid3-cell-inner, .x-grid3-hd-inner {
white-space:normal;
WORD-BREAK:BREAK-ALL;
}

/*
change the line-height from 17px to 20px for the SearchMyRequestsREQ.do?method=search page
*/
.x-grid3-row td,.x-grid3-summary-row td{line-height:20px;vertical-align:top;padding-left:1px;padding-right:1px;-moz-user-select:none;}

/*
change the image url to ../extjs/resources/......
change no-repeat value from -47px to -44px to make the expand sign align the same as the requestID
for the SearchMyRequestsREQ.do?method=search page
*/

.ux-form-statictextfield {
	background: transparent;
	border: none;
	padding-top: 2px !important;
	padding-bottom: 2px !important;
	color: #333;
}

/*
 Delegate My Approvals - SelectUser image button
 */
.icon-select-user {
	background-image:url(../images/SelectUserButton.jpg) ! important;
	background-repeat: repeat-x;
	background-position-x: center;
	background-position-y: center;
}

ul.x-tab-strip{display:block;width:5000px;zoom:1;}
ul.x-tab-strip-top{padding-top:1px;background:url(../images/TabBg.jpg) repeat-x bottom;border-bottom:1px solid #8db2e3;}

/*modified by Peiyuan for Grid table to remove borders of each row*/
.x-grid3-row{cursor:default;border:0px solid #ededed;border-top-color:#fff;width:100%;}

/*To adjust Catalog Tree on HomeBrowse.jsp - Modified by Peiyuan*/
.x-tree-node-expanded .x-tree-node-icon{background-image:url();}
.x-tree-node-collapsed .x-tree-node-icon{background-image:url();}
.x-tree-node-leaf .x-tree-node-icon{background-image:url();}
.x-tree-no-lines .x-tree-elbow-plus {	BACKGROUND-IMAGE: url(../images/ArrowCollapsed.gif);margin-top:1px;margin-left:13px;}
.x-tree-ec-icon{margin-top:1px;margin-left:13px;}
.x-tree-no-lines .x-tree-elbow-minus {	BACKGROUND-IMAGE: url(../images/ArrowExpanded.gif);margin-left:13px;}
.x-tree-no-lines .x-tree-elbow-end-plus {	BACKGROUND-IMAGE: url(../images/ArrowCollapsed.gif);margin-top:1px;margin-left:13px;}
.x-tree-no-lines .x-tree-elbow-end-minus {	BACKGROUND-IMAGE: url(../images/ArrowExpanded.gif);padding-left:13px;}
.x-tree-node-collapsed .x-tree-node-icon, .x-tree-node-expanded .x-tree-node-icon, .x-tree-node-leaf .x-tree-node-icon {width:10px;}
.x-tree-node {FONT-SIZE:11px;FONT_WEIGHT:bold;FONT-FAMILY:Arial,Helvetica, sans-serif;}
.x-tree-node a span, .x-dd-drag-ghost a span{color:#05539e;font-weight:bold}
.x-tree-icon, .x-tree-ec-icon, .x-tree-elbow-line, .x-tree-elbow, .x-tree-elbow-end, .x-tree-elbow-plus, .x-tree-elbow-minus, .x-tree-elbow-end-plus, .x-tree-elbow-end-minus {width:10px; height:10px;}
.x-column-tree .x-tree-node .x-tree-selected a span {color:#05539e;}
/*Finish rewriting css classes for Catalog Tree on HomeBrowse.jsp*/

/* FORCE UL/OL to display */
.forcedListElementSquare{
	list-style-type: square;
}

.forcedListElementCircle{
	list-style-type: circle;
}

.forcedListElementDisc{
	list-style-type: disc;
}

/* remove blue bottom-border & put background color in all grids grouping header */
.x-grid-group-hd {
	border-bottom: none;
	cursor:pointer;
	padding-top:4px;
}

/* change +/- expander to arrow indicators */
.x-grid-group-hd div {
	background:transparent url(../images/aim-group-expand-sprite.gif) no-repeat 3px -47px;
	padding:4px 4px 4px 17px;
	color:#3764a0;
	font:bold 11px tahoma,arial,helvetica,sans-serif;
}

.x-grid-group-hd div {
	background-color:#eceff4;
}


/* remove background image and border for form title
.x-panel-header {
	overflow: hidden;
	zoom: 1;
	color: #15428b;
	font: bold 11px tahoma,arial,verdana,sans-serif;
	padding: 5px 3px 4px 5px;
	border: 0 0 0 0;
	line-height: 15px;
	background: none;
	background-color: #EEEFF4;
}

.x-panel-noborder .x-panel-header-noborder {
	border-width: 0;
	border-bottom: 0;
} */

/* remove bottom border of tab panel tabs */
ul.x-tab-strip-top {
	padding-top:1px;
	background: #d8d8d8;
	border-bottom: 1px #d8d8d8 solid;
}

/* color for striped rows in grid panel when stripedRows: true */
.x-grid3-row-alt{
	background-color:#eceff4;
}

.LightHyphenLong
{
color:#CCCCCC;
}

/* override color on mouseover in gridpanel */
.x-grid3-row-over{
	background: transparent url(../images/aim-row-over.gif) repeat left top;
}
.SearchResultHeader{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#041741;
}

.ShoppingCartProductName
{
font-family:Arial,Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#001544;
}

.ShoppingCartEditText
{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#0255a3;
}

.ShoppingCartProductBackground
{
background-color:#eceff4;
line-height: 27px;
}
.HoverPopupLeftComment
{
width: 12px;
height: 20px;
background: transparent url(../images/hover_a1.gif);
}
.HoverPopupRight
{
width: 15px;
height: 20px;
background: transparent url(../images/hover_a3.gif);
}
.HoverPopupRightComment
{
width: 12px;
height: 20px;
background: transparent url(../images/hover_a1_inverse.gif);
}
.HoverPopupLeft
{
width: 12px;
height: 20px;
background: transparent url(../images/hover_a3_inverse.gif);
}
.HoverPopup
{
width: 220px;
}
.HoverPopupHeading
{
background:transparent url(../images/hover_a2.gif);
padding-left:6px;
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#FFFFFF;
}
.HoverPopupBottomLeft{
	background:transparent url(../images/hover_c1.gif);
	width: 12px;
	height: 7px;
}
.HoverPopupBottomMiddle{
	background:transparent url(../images/hover_c2.gif);
	height: 7px;
}
.HoverPopupBottomRight{
	background:transparent url(../images/hover_c3.gif);
	width: 12px;
	height: 7px;
}
.HoverPopupBodyLeft{
	background:transparent url(../images/hover_b1.gif) repeat;
}
.HoverPopupBodyMiddle{
	background:transparent url(../images/hover_b2.gif) repeat;
}
.HoverPopupBodyRight{
	background:transparent url(../images/hover_b3.gif) repeat;
}
.x-grid-user-group-hd div {
	background:transparent url(../images/hover_bullet_icon.gif) no-repeat 6px 8px;
	padding:0px 0px 0px 18px;
	color:none;
	font:bold 11px tahoma,arial,helvetica,sans-serif;
}
.mailto-icon img {
	border: 0;
	text-decoration: none;
	cursor: hand;
}
.hidden {
	display:none;
}

.InfoIcon {
	background-image: url(../images/icon-information.gif);
	background-repeat: no-repeat;
}
.yellow-highlight{
	background-color:#fff7ad;
	/*background: transparent url(../images/aim-row-over.gif) repeat left top;*/
}

.HeaderLinkWhite{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
text-decoration:none;
color:#FFFFFF;
}
.HeaderLinkWhite A:hover{
text-decoration:underline;
}

.search-item {
	font-family:Arial,Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
    border:1px solid #fff;
    border-bottom:1px solid #eeeeee;
    white-space:normal;
}
.search-item h3 {
    display:block;
    font:inherit;
}

.search-item h3 span {
    float: right;
    display:block;
    clear:none;
}

.liveSearchCls { height:25px !important;}
.ext-ie .x-form-text {position:static !important;}
.right-align {
	text-align: right;
}
.top-align {
	vertical-align: top;
}
.zero-padding-align-top {
	padding-top: 0px;
	vertical-align: top;
}

/* preloading of images for My Request and Request Details pages */
.CurrentStage {
	background: url(../images/CurrentStage.gif) no-repeat;
	width:16px; height:16px;
}
.StageComplete {
	background: url(../images/StageComplete.gif) no-repeat;
	width:16px; height:16px;
}
.Rejected {
	background: url(../images/Rejected.gif) no-repeat;
	width:16px; height:16px;
}
.OnHold {
	background: url(../images/OnHold.gif) no-repeat;
	width:16px; height:16px;
}
.NA {
	background: url(../images/NA.gif) no-repeat;
	width:16px; height:16px;
}
.continuousLine {
	background: url(../images/2pxheight16.gif) repeat;
}
.SystemProcessing {
	background: url(../images/SystemProcessing.gif) no-repeat;
	width:16px; height:16px;
}

/* preloading of images for product search results page */
.AD_functional {
	background: url(../images/AD_functional.jpg) no-repeat;
	vertical-align: middle;
}
.SearchResultProductIcon {
	background: url(../images/SearchResultProductIcon.jpg) no-repeat;
	vertical-align: middle;
}
.SearchResultSRIcon {
	background: url(../images/SearchResultSRIcon.jpg) no-repeat;
	vertical-align: middle;
}
.NetworkDriveIcon {
	background: url(../images/NetworkDriveIcon.jpg) no-repeat;
	vertical-align: middle;
}
.distribution_list {
	background: url(../images/distribution_list.jpg) no-repeat;
	vertical-align: middle;
}	
.LDAP {
	background: url(../images/LDAP.jpg) no-repeat;
	vertical-align: middle;
}
.Help {
	background: url(../images/Help.gif) no-repeat;
	vertical-align: middle;
}
.DummyBundle {
	background: url(../images/InfoBundle.gif) no-repeat;
	vertical-align: middle;
}
.DummyBundleProductName{
font-family:Arial,Helvetica, sans-serif;
font-size:13px;
font-weight:bold;
color:#083a9d;
}		

/* not in use

*/

.productDetails {
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#999999;
}

.licenceClass {
	padding-left: 15px;
}
.rankClass {
	vertical-align: bottom;
}

/* Form fields border colour changes for JIRA-1901 */
/* tried colors: 585858, 6e6e6e, 848484, a4a4a4, bdbdbd */

.x-form-text, textarea.x-form-field {
    padding:1px 3px;
    background:#fff url(../extjs/resources/images/default/form/text-bg.gif) repeat-x 0 0;
    border:1px solid #848484;
}
.x-fieldset {
    border:1px solid #848484;
    padding:10px;
    margin-bottom:10px;
    display:block; /* preserve margins in IE */
}

/* Added the following style for JIRA-1960. 
   This is required to override the form field border color change in JIRA-1901.
*/
.x-form-invalid, textarea.x-form-invalid {
	background:#fff url(../extjs/resources/images/default/grid/invalid_line.gif) repeat-x bottom;
	border: 1px solid #dd7870;
}


.x-popup-card-hd div {
	background:transparent url(../images/aim-group-expand-sprite.gif) no-repeat 6px -50px;
	padding:0px 0px 0px 15px;
	color:#3764a0;
	font:bold 11px tahoma,arial,helvetica,sans-serif;
}

.x-grid-group-collapsed .x-popup-card-hd div{
	background-position: 6px 0px;
}

.x-approve-reject-button {
	padding-left: 30px!important;
}

.underline {
	text-decoration:underline;		
	cursor: pointer;
}

.hand-cursor {
	cursor: hand;
}

.readOnlyTextFormat {
	background:#fff url(../extjs/resources/images/default/form/text-bg.gif) repeat-x 0 0;
	border:1px solid #848484;
	width: 525px;
	padding: 3px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	font-weight:normal;
	color:black;
	margin-top:3px;
	margin-bottom:3px;
}

.object-form-read-only {
	background:#fff url(../extjs/resources/images/default/form/text-bg.gif) repeat-x 0 0;
	border:1px solid #848484;
	width: 430px;
	padding: 3px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	font-weight:normal;
	color:black;
	margin-top:3px;
	margin-bottom:3px;
}

/* performance for SearchResult */
.Rank5 {
	background: url(../images/Rank5.jpg) no-repeat;
	vertical-align: bottom;
}
.Rank4 {
	background: url(../images/Rank4.jpg) no-repeat;
	vertical-align: middle;
}
.Rank3 {
	background: url(../images/Rank3.jpg) no-repeat;
	vertical-align: middle;
}
.Rank2 {
	background: url(../images/Rank2.jpg) no-repeat;
	vertical-align: middle;
}
.Rank1 {
	background: url(../images/Rank1.jpg) no-repeat;
	vertical-align: middle;
}

.AddToCart2 {
	background: url(../images/AddToCart2.jpg) no-repeat;
	vertical-align: middle;
	margin-top: 3px;
	cursor:hand;	
}
.GSPaRequest {
	background: url(../images/GSPaRequest.gif) no-repeat;
	vertical-align: middle;
	margin-top: 3px;
	cursor:hand;	
}
.GSPRequest {
	background: url(../images/GSPRequest.jpg) no-repeat;
	vertical-align: middle;
	margin-top: 3px;
	cursor:hand;
}
.TACRequest {
	background: url(../images/TACRequest.gif) no-repeat;
	vertical-align: middle;
	margin-top: 3px;
	cursor:hand;
}
.SHDRequest {
	background: url(../images/Info.gif) no-repeat;
	vertical-align: middle;
	margin-top: 3px;
	cursor:hand;
}
.HPSCRequest {
	background: url(../images/HPSCRequest.gif) no-repeat;
	vertical-align: middle;
	margin-top: 3px;
	cursor:hand;
}
/* for text selection feature in modal dialog box */
#menu1 {
	position: absolute;
	padding: 3px 5px;
	font-family: "Segoe UI", "MS Sans Serif", sans-serif;
	font-size: 9pt;
	color: MenuText;
	background-color: Menu;
	border: outset 2px ThreeDHighlight;
	border-bottom-color: ThreeDDarkShadow;
	border-right-color: ThreeDLightShadow;
	z-index:99999;
}
.menuItem {
	margin: 2px 0;
	padding: 2px 3px;
}
.menuItemDisabled {
	color: GrayText;
}
.menuItemSelected {
	background-color: Highlight;
	color:HighlightText;
}
.italic-bold-text-display {
	font-style: italic;
	font-weight: bold;
}
/* AIM-2405 */
.NewFeaturesBGStar {
	background: url(../images/BG_Top.jpg) no-repeat -217px 0px;
	vertical-align: middle;
	width: 45px;
}
.NewFeaturesBGStarFull {
	background: url(../images/BG_Top.jpg) no-repeat;
}
.NewFeaturesNoStarBG {
	background: url(../images/BG_Top_NoStar.jpg) no-repeat;
	vertical-align: middle;
}
.NewFeaturesFooter {
	background: url(../images/BG_Footer.jpg) no-repeat;
	vertical-align: middle;
}
.ContentWhiteBold
{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#FFFFFF;
}
.NewFeauresHeading
{
font-family:Arial,Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
color:#00163d;
}
.striped-bkgrnd {
	background: url(../images/BG_Repeating_Stripe.jpg) repeat;
}
.star-annoucement {
	background: url(../images/starAnnounce.jpg) no-repeat;
	height: 36px;
	width: 36px;
}
/* end of AIM-2405 */
.GrayMiddleBg{
background:url(../images/HomeSearchCatBg.jpg) repeat;
}
.HeaderLinkText{
font-family:Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
text-decoration:none;
color:#041741;
}
.HeaderLinkText A:hover{
text-decoration:underline;
color:#0059a2;
}
.icon-reassign-approval {
	background: url(../images/reassignApprovalIcon.jpg) no-repeat;
	width: 51px;
	height: 53px;
}
.icon-submit-request {
	background: url(../images/SubmitIcon.jpg) no-repeat;
	width: 51px;
	height: 53px;
}
.icon-cancel-request {
	background: url(../images/CancelRequestIcon.jpg) no-repeat;
	width: 51px;
	height: 53px;
}
.icon-approve-request {
	background: url(../images/ApproveRequestIcon.jpg) no-repeat;
	width: 51px;
	height: 53px;
}
.icon-reject-request {
	background: url(../images/RejectRequestIcon.jpg) no-repeat;
	width: 51px;
	height: 53px;
}
.request-summary-background {
	background: url(../images/RequestSummaryBg.jpg);
}
.blue-datatable-cell {
	padding: 4px 9px 4px 9px;
}
.square-bullet-cell {
	background: url(../images/HomeTableBullet.jpg) no-repeat;
	width: 7px;
	height: 7px;
	font-size: 0px;
}
.bluebox-upper-left {
	background: url(../images/SubHeaderLeft.jpg) no-repeat;
	width: 4px;
}
.bluebox-upper-middle {
	background: url(../images/SubHeaderBg.jpg) repeat;
	padding-left: 5px;
	padding-right: 5px;
}
.bluebox-upper-right {
	background: url(../images/SubHeaderRight.jpg) no-repeat;
	width: 4px;
}
.bluebox-middle-left {
	background: url(../images/BorderLeft.jpg) repeat-y;
	width: 4px;
}
.bluebox-middle-right {
	background: url(../images/BorderRight.jpg) repeat-y;
	width: 4px;
}
.bluebox-lower-left {
	background: url(../images/SubheaderBottomLeft.jpg) no-repeat;
	width: 4px;
}
.bluebox-lower-middle {
	background: url(../images/SubheaderBottomBg.jpg) no-repeat;
}
.bluebox-lower-right {
	background: url(../images/SubheaderBottomRight.jpg) no-repeat;
	width: 4px;
}
.height-for-fontsize-11 {
	height: 20px;
}
.width-for-homepage {
	width: 750px;
}
.advanced-request-search {
	vertical-align: middle;
	padding-left: 8px;
	text-align: left;
}
.advanced-request-search a {
	color: #FFFFFF;
	font-size: 11px;
	font-family:Arial,Helvetica, sans-serif;
	text-decoration: underline;
}
.advance-search-request-table {
	width: 1004px;
	margin-left: 12px;
	margin-right: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.advance-search-request-table td {
	padding-top: 5px;
	padding-bottom: 5px;
}
.advance-search-inline {
	display: inline;
}
.excel-icon-small {
	background:url(../images/excel_small.gif) no-repeat;
}
.middle-align {
	vertical-align: middle;
}
.request-amendment-box-section-icon {
	width: 26px;
	text-align: center;
}
.inline-block-el {
	display: inline-block;
}
.inline-el {
	display: inline;
}
.request-amend-warn-upper-left {
	background:url(../images/alertOrange_topLeft.jpg) no-repeat;
	width: 4px;
	height: 4px;
}
.request-amend-warn-upper-right {
	background:url(../images/alertOrange_topRight.jpg) no-repeat;
	width: 4px;
	height: 4px;
}
.request-amend-warn-bottom-left {
	background:url(../images/alertIOrange_bottomLeft.jpg) no-repeat;
	width: 4px;
	height: 4px;
}
.request-amend-warn-bottom-right {
	background:url(../images/alertOrange_bottomRight.jpg) no-repeat;
	width: 4px;
	height: 4px;
}
.request-amend-warn-box-section {
	background-color: #FED75E;
}
.request-amend-warn-box-section td {
	vertical-align: middle;
}
.request-amend-warn-icon {
	background:url(../images/alert.gif) no-repeat;
}
.request-amend-warn-header-background {
	background-color: #FED75E;
}
.request-amend-warn-body-background {
	background-color: #FFF1CA;
}
.request-amend-warn-text-gray {
	color: #676568;
	font-family:Arial,Helvetica, sans-serif;
	font-size:11px;
}
.request-amend-prepop-header {
	background-color: #FEFDDF;
	padding: 10px;
}
.request-amend-prepop-body {
	background-color: #FDF4A7;
	padding: 10px;
}
.request-amend-prepop-footer {
	background-color: #FEFDDF;
	text-align: right;
}
.prepopulate-section-format {
	height: 0px; 
	text-align: center;
	padding: 10px;
}
.prepopulate-bullets-format {
	line-height: 20px;
}
.prepopulate-tableline-format td {
	line-height: 18px;
}
.amendment-table-summary td {
	vertical-align: middle;
}
.amendment-table-border {
	border: 1px solid #000000;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	font-size: 5px;
}
.request-amend-prompt-buttons td {
	text-align: center;
	vertical-align: middle;
}
.amendment-button-padding {
	margin: 5px 5px 5px 0px;
}
.icon-chase-request {
	background: url(../images/chase_request_icon.jpg) no-repeat;
	width: 71px;
	height: 82px;
}
.LightYellowBg {
	background-color: #FEFDDF;
	color: #676568;
	font-family:Arial,Helvetica, sans-serif;
	font-size:11px;
	padding-left:10px;
	line-height: 22px;
}
.NormalText {
	font-family:Arial,Helvetica, sans-serif;
	font-size:11px;
	padding-left:10px;
	line-height: 22px;
}
.window-form-padding {
	padding: 5px 10px;
}
.table-middle-align td {
	vertical-align: middle;
}
.request-alert-light-yellow {
	background:url(../images/error.gif) no-repeat;
	width: 16px;
	height: 16px;
}
.request-red-text-warn {
	color: red;
	font-family:Arial,Helvetica, sans-serif;
	font-size:11px;
	font-weight: bold;
}
.request-pending-info-highlight{
	background: transparent url(../images/aim-row-over.gif) repeat left top;
}
.request-pending-info-highlight-color{
	background-color: #fff7ad!important;
}
.request-details-icon {
	background:url(../images/DetailsIcon.gif) no-repeat;
	width: 16px;
	height: 15px;
}
.request-details-icon-empty {
	background:url(../images/DetailsIconEmpty.gif) no-repeat;
	width: 16px;
	height: 15px;
}
.link-icon-style {
	cursor: hand;
}
.empty-background-div {
	background: none!important;
	padding: 0px!important;
}

/* AIM-2809 */
.x-grid-group-hd-reassign div {
	background-position-y:-50px; 
	padding-left: 30px!important;
	padding-bottom:5px!important;
}

/* Request 2.0 */
/* Request 2.0 start */
.right-menu-help-bg{
	background:url(../images/bg-help.jpg) no-repeat;
}

.right-menu-self-service-portal{
	background:url(../images/icon-help-globe.png) no-repeat;
}

.right-menu-training-videos{
	background:url(../images/icon-help-videos.png) no-repeat;
}

.right-menu-faq{
	background:url(../images/icon-help-faq.png) no-repeat;
}

.LeftMenuHeader{
	font-family:Tahoma, Arial,Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#FFFFFF;
	padding-left:10px;
	background:url(../images/bg-leftnavig-header.jpg) no-repeat;
}


.LeftMenuContent A{
width:160px;
padding: 5px 5px 5px 20px;
font-family:Tahoma, Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#041741;
background-color:#eff0f5;
text-decoration:none;
border-left: 1px solid #d0cfd5;
border-right: 1px solid #d0cfd5;
border-bottom: 1px solid #d0cfd5;
}

.LeftMenuContent A:hover {
width:160px;
padding: 5px 5px 5px 20px;
font-family:Tahoma, Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:blue;
background-color:#d7e9f3;
}

.LeftMenuContent A:hover span{
width:120px;
text-align: center;
font-family:Tahoma, Arial,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:blue;
background-color:#d7e9f3;
}

.SearchBgTrackHolder{
width: 160px;
height: 101px;
background: url(../images/bg-trackarequest.jpg) no-repeat;
}

.nugget-line-fading{
	width: 260px;
	background: url(../images/nuggetLine.jpg) repeat;
}

.icon-new-feature{
	width:28px;
	vertical-align:top;
	height:18px;
	position:relative;
	right:24px;
	float:right;
	display:inline;
	background: url(../images/icon-newfeature.gif) no-repeat;
}

.btn-go{
	background: url(../images/btn-trackarequest.jpg) no-repeat 0 0;
	width:42px;
	height:25px;
	cursor:hand;
}

.btn-go-hover{
	background: url(../images/btn-trackarequest.jpg) no-repeat 0 -25px;
	width:42px;
	height:25px;
	cursor:hand;
}

.LeftSearchBoxHolder{
width: 148px;
height: 24px;
background: url(../images/bg-trackarequest-textbox.jpg) no-repeat;
float: left;
}


.advanced-request-search {
	vertical-align: middle;
	padding-left: 15px;
	text-align: left;
}
.advanced-request-search a {
	color: #FFFFFF;
	font-size: 11px;
	font-family:Arial,Helvetica, sans-serif;
	text-decoration: none;
}

.btn-feedback{
	background: url(../images/btn-feedback.jpg) no-repeat 0 0px;
	width:160px;
	height:39px;
	cursor:hand;	
}

.btn-feedback-hover{
	background: url(../images/btn-feedback.jpg) no-repeat 0 -39px;
	width:160px;
	height:39px;
	cursor:hand;	
}

.icon-cart{
	background: url(../images/icon-cart.gif) no-repeat;
	display:inline;
	width:18px;
	height:10px;
}

.request-search-empty {
	color: gray!important;
}

.search-product-combo-padding .x-form-text{
    padding:1px 3px;
    background:#fff url(../extjs/resources/images/default/form/text-bg.gif) repeat-x 0 0;
    border:1px solid #b5b8c8;
}

/* Request 2.0 end */

.LtGrayHeaderBg {
	height:24px;
	background:url(../images/LtGrayBg.jpg) repeat;
	font-family:Arial,Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#00163d;
}

.element-padding-left {
	padding-left: 5px;
}

.element-padding-right {
	padding-right: 5px;
}
.element-padding-bottom {
	padding-bottom: 5px;
}

.element-padding-top {
	padding-top: 5px;
}

.catalog-item-update-form-item {
	padding: 5px 10px 0px 10px;
}

.catalog-item-update-form-item-last {
	padding-bottom: 5px;
}

.catalog-item-update-form-checkbox {
	padding-left: 10px;
}

.catalog-item-update-form-button-panel {
	padding-right: 10px!important;
}

.catalog-item-update-form-item-label {
	vertical-align: middle;
	padding-left: 10px;
}

.catalog-item-update-form-item-label-top {
	vertical-align: top;
	padding-left: 10px;
	padding-top: 6px;
}

.catalog-item-details-form-item-label-top {
	vertical-align: top;
	padding-left: 10px;
}

.catalog-item-details-form-item {
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.catalog-item-details-form-item-last {
	padding-bottom: 5px;
}

.element-center {
	text-align: center;
}

.custom-x-item-disabled{
	background:lightgrey;
	cursor:default;
}

.gray-combo-item {
	background:lightgrey;
	cursor:default;
}
.orange-combo-item {
	background: #EE8833;
	cursor:default;
}
.ux-form-textarea-no-borders {
	border: none!important;
}

TEXTAREA.ux-form-textarea-no-borders {
	border: none!important;
	background: transparent!important;
	border: none;
	padding-top: 3px !important;
	padding-bottom: 3px !important;
	color: #333;
	padding-left: 0px!important;
	padding-right: 0px!important;
}

.ux-form-fileuploadfield-no-borders {
	border: none!important;
	background: transparent;
	border: none;
	padding-top: 3px !important;
	padding-bottom: 3px !important;
	color: #333;
}

.icon-bulkdel-request {
	background: url(../images/penAndPaper.jpg) no-repeat;
	width: 51px;
	height: 53px;
	margin:12px;	
}

.icon-bulkdel-excel {
	background:url(../images/excelImageFulfillment.jpg) no-repeat;
	text-align: right;
	float: right;
	height: 16px;
	width: 16px;
	margin-right:5px;
}
.icon-bulkdel-close {
	background:url(../images/xgray.jpg) no-repeat;		
	text-align: right;
	float: right;
	height: 15px;
	width: 15px;
	margin-right:5px;
}
.grayed-text-format {
	font-color: #BFBFBF!important;
}
.grayed-text-format div {
	color: #BFBFBF!important;
}

.grayed-text-format span {
	color: #BFBFBF!important;
}

div.grayed-text-format td{
	background-color:#ffffff!important;
}

.grayed-text-format td {
	color: #BFBFBF!important;	
}

.grid-panel-remove-icon {
	width: 11px;
	height: 11px;
	background: url(../images/delete1.gif) no-repeat;
	background-position-y: 1px;
}